body{
    margin: 0;
    background-color: darkgray;
}
div{
    width: 1000px;
    margin: auto;
    background-color: antiquewhite;
    margin-top: 100px;
    margin-bottom: 100px;
    padding: 50px;
    box-shadow: 1px 0px 13px #6f1212b0;
}
h1{
    margin: 0;
    color: blue;
    font-size: 50px;
}
p{
    margin: 0;
    line-height: 1.4;
    text-align: justify;
}
span{
    text-transform: uppercase;
    color: blueviolet;
}
b{
    font-size: 90px;
}
img{
	width: 100%
}